<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--Favicon-->
  <link rel="shortcut icon" href="{{ site.favicon | relative_url }}" type="image/x-icon">

  <!-- SEO tags? -->
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <!-- CSS style sheet -->
  <link rel="stylesheet" href="{{ "/assets/css/particle.css" | prepend: site.baseurl }}">

</head>
