<div id="particles-js">

  <div class="header">

    <h1>
      <span class="site-title">{{site.title}}</span>
      <br><br>
      <span class="site-description">
        <a href="/about/">About</a> &middot; <a href="../blog/index.html">Blog</a> &middot; <a href="/projects/">Projects</a>
      </span>
    </h1>

    <div class="header-icons">
      <a aria-label="Send email" href="mailto:{{ site.data.social.email_address }}"><i class="icon fa fa-envelope"></i></a>
      <a aria-label="My Twitter" target="_blank" href="https://twitter.com/{{ site.data.social.twitter }}"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
      <a aria-label="My Github" target="_blank" href="https://github.com/{{ site.data.social.github }}"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      <a aria-label="My Citations" target="_blank" href="{{ site.data.social.scholar }}"><i class="icon fa fa-google" aria-hidden="true"></i></a>
    </div>

  </div>
</div>
