/* Code for slideshow taken from: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_slideshow */

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}
      
 /* Next & previous buttons */
.prevSlide, .nextSlide {
    cursor: pointer;
    position: absolute;
    top: 47%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
 }
      
 /* Position the "next button" to the right */
 .nextSlide {
    right: 10%;
    border-radius: 3px 0 0 3px;
 }

 /* Position the "previous button" to the left */
 .prevSlide {
    left: 10%;
    border-radius: 3px 0 0 3px;
 }
  
  /* On hover, add a black background color with a little bit see-through */
.prevSlide:hover, .nextSlide:hover {
    color: rgba(0,0,0,0.8);
    text-decoration: none;
}
  
/* Caption text */
.slideCaption {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
 }
      
 /* The dots/bullets/indicators */
 .slideDot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
 }