---
layout: default
---
{% include share_thumbnail.html page=page %}

<article class="feature-image">

  {% if page.feature-img %}
  <header id="main" style="background-image: url('{{ page.feature-img | relative_url }}')">
    <h1 id="{{ page.title | default: "" | cgi_escape }}" class="title">
  {% else %}
  <div id="particles-js">
    <h1>
      <span class="site-description">
  {% endif %}
        {{ page.fulltitle }}
  {% if page.feature-img %}
    </h1>
  </header>
  {% else %}
      </span>
    </h1>
  </div>
  {% endif %}

  <section class="post-content">
  {% if page.bootstrap %}
  <div class="bootstrap-iso">
  {% endif %}
	{{ content }}
  {% if page.bootstrap %}
  </div>
  {% endif %}
  </section>

</article>
