/* Set global variables */
$main-bg-colour: #337ab7;
$body-font: 'Montserrat', sans-serif; //'Courier New', monospace;
$header-font: 'Montserrat', sans-serif;
$header-colour: white;
$body-colour: #4b5664;
